@using Code.Shared.Model
@namespace Code.Shared

<div style="width: 260px;float: left;">
    <MExpansionPanels Class="mb-6">
        <MExpansionPanel accordion>
            <MExpansionPanelHeader ExpandIcon="mdi-menu-down">
                文件管理器
            </MExpansionPanelHeader>
            <MExpansionPanelContent Style="overflow: auto;height: 600px;">
                <FileTree></FileTree>
            </MExpansionPanelContent>
        </MExpansionPanel>
        <MExpansionPanel accordion>
            <MExpansionPanelHeader ExpandIcon="mdi-menu-down">
                关于
            </MExpansionPanelHeader>
            <MExpansionPanelContent>
                <RegardingOur></RegardingOur>
            </MExpansionPanelContent>
        </MExpansionPanel>
    </MExpansionPanels>
</div>
<div style="float: left;width: 80%;height: 100%;">
    <MCard Style="height: 93%;">
        <MTabs
            @bind-Value="@selectTabModel"
            BackgroundColor="primary"
            CenterActive 
            Dark>
            @foreach (var t in Tabs)
            {
                <MTab Value="@t.Key">
                    @t.Name
                    <MIcon Small OnClick="async () =>await CloseFile(t)">mdi-close</MIcon>
                </MTab>
            }
        </MTabs>
        <MTabsItems @bind-Value="selectTabModel" Style="height: 100%;">
            @foreach (var t in Tabs)
            {
                <MTabItem Value="t.Key" Style="height: 100%;">
                    @switch (t.Type)
                    {
                        case TabType.Edit:
                            <MonacoEdit Parameters="@t?.Parameters" Path="@t.Parameters["Path"].ToString()"></MonacoEdit>
                            break;
                        case TabType.Component:
                            <DynamicComponent Type="@(t.Data as Type)" Parameters="@t.Parameters"></DynamicComponent>
                            break;
                        default:
                            <div>首页</div>
                            break;
                    }
                </MTabItem>
            }
        </MTabsItems>
    </MCard>
</div>